.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
    text-align: center;
    animation: float 5s ease-in-out infinite;
}

