.headerContainer{
    width: 100%;
}


.headerNav{
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.headerNav ul{
    display: flex;
    align-content: center;
    justify-content: center;
    list-style-type: none;

}
.headerNav ul li a{
    color:black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;

}
.headerNav ul li {
    padding-left: 20px;
    padding-right: 20px;
}

.HsocialIcons{
    display: flex;
    justify-content: right;
}

.HsocialIcons a{
    padding-left: 20px;
    padding-right: 20px;
}

.HsocialIcons a i{
    font-size: 2em;
    color: black;

}

/* Hover affect on social media icon */


@media (max-width: 700px){
    .headerNav ul{
        flex-direction: column;
    } 
    .headerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}