.gallery-grid {
    display: inline;
}


.gallery-grid-column {

    display: table-cell;
    width: auto;
    height: auto;
}

.gallery-card{
    width: auto;
    height: auto;
    margin: 15%;
    background-color:whitesmoke;
    border-radius: 16px;
    font-family: "Inter", sans-serif;

}    

.gallery-card{
    width: auto;
    height: auto;
    margin: 15%;
    background-color:whitesmoke;
    border-radius: 16px;
    font-family: "Inter", sans-serif;
    transition: 0.5s;
}  

.gallery-card:hover{
    border-radius: 0px;
    transition: 0.5s;
}

.gallery-card p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px
}   


.gallery-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 16px;
} 