.info-module {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 16px;
    font-family: "Inter", sans-serif;
}

.info-module p {
    font-size: 35px;
    font-style: bold;
    margin: 5px;
    
}
.info-module li {
    font-size: 20px;
    margin: 5px;
    
}

.info-module table {
    font-size: 35px;
    margin: 5px;
    
}
.info-module table tr {
    margin: 5px
}

.info-module table tr th {
    font-size: 35px;
    padding-right: 10%;
    font-style: bold;
}

.info-module table tr td {
    font-size: 35px;
    margin: 5px;
    padding-right: 10%;
}



.info-module table img {
    text-align: center;
    width: auto;
    height: 50px;
}

.video-module iframe {
    width: calc(1920px / 2);
    height: calc(1080px / 2);
    border-style: solid;
}

.video-module {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: whitesmoke;
    border: 5px;
    margin-bottom: 25px;
}