<head>
    <link rel="stylesheet" href="footer.css" type="text/css">
</head>
<html>
    <body>
        <footer>
            <div class="footerContainer">
                <div class="socialIcons">
                    <a href="https://www.youtube.com/@SuperMarioEvolution"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://discord.com/invite/RG9QhUe"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://x.com/TeamSMEvolution"><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="footerNav">
                    <ul>
                        <li><a href="../pages/index.html">Home</a></li>
                        <li><a href="../pages/downloads.html">Download</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>