footer{
    background-color: #3CC4ED;
    overflow: hidden;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.copyright {
    text-align: center;
}
.socialIcons a{
    margin: 10px;
}

.socialIcons a i{
    font-size: 2em;
    color: #fdfd;
    opacity: 0,9;
}

/* Hover affect on social media icon */

.socialIcons a:hover i{
    color: white;
    font-size: 2.5em;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.footerNav ul li a:hover{
    opacity: 1;
}


@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}