---
---
<div class="card pattern--hashes">
    <h3>FAQ</h3>
    <h4>How to mod a WiiU?</h4>
    <h5>For Guides look at <a href="https://wiiu.hacks.guide/">Wii U Hacks Guide</a></h5>
    <h4>Why does the WiiU not supported improved Graphics?</h4>
    <h5>Limitations exist</h5>
</div>


<style>

    .card {
        border-radius: 16px;
        margin: 25px;
        margin-left: 15%;
        margin-right: 15%;
        box-shadow: var(--box-shadow);
    }
    .card img {
        border-radius: 16px;

    }
    .card h3 {
        text-align: center;
        font-style: bold;
    }
    .card h4 {
        margin-left: 50px;
        font-style: bold;
    }
    .card h5 {
        margin-left: 50px;
        font-style: bold;
    }
    
</style>