---
---
<div>
    <div class="gallery-colum">
        <div class="card pattern--hashes">
            <img src="/img/gameplay/gameplay2.png">
            <h4>80+ brand new levels</h4>
        </div>
        <div class="card pattern--hashes">
            <img src="/img/gameplay/gameplay4.png">
            <h4>9 brand new worlds</h4>
        </div>
        <div class="card pattern--hashes">
            <img src="/img/gameplay/gameplay6.png">
            <h4>Over a dozen new enemies</h4>
        </div>
    </div>
    <div class="gallery-colum">
        <div class="card pattern--hashes">
            <img src="/img/gameplay/gameplay8.png">
            <h4>Custom Bosses</h4>
        </div>
        <div class="card pattern--hashes">
            <img src="/img/gameplay/gameplay10.png">
            <h4>Original music & remixes</h4>
        </div>
        <div class="card pattern--hashes">
            <img src="/img/gameplay/gameplay11.png">
            <h4>New custom backgrounds</h4>
        </div>
    </div>
   
    
</div>

<style>
    .gallery-colum {
        display: table-cell
    }
    .card {
        border-radius: 16px;
        margin: 25px;
        box-shadow: var(--box-shadow);
    }
    .card img {
        border-radius: 16px;
        scale: 95%;
    }
    .card h4 {
        text-align: center;
        font-style: bold;
    }
</style>