---
---


<div class="info-module pattern--hashes">
    <table>
        <tr>
            <th> Features </th>
            <th> Wii U </th>
            <th><img src="/img/logos/cemu-logo.webp" alt="Cemu Logo"></th>
        </tr>
        <tr>
            <td>Custom Music</td>
            <td>✅</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Extended Levels</td>
            <td>✅</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Improved Graphics</td>
            <td>❌</td>
            <td>✅</td>
        </tr>
    </table>
</div>
<style>
.info-module {
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    margin-left: 100px;
    margin-right: 100px
}

p {
    font-size: 35px;
    font-style: bold;
    margin: 5px;    
}
li {
    font-size: 20px;
    margin: 5px;
    
}

table {
    font-size: 35px;
    margin: 20px;
    padding: 10px;
    
}
table tr {
    margin: 5px;
}
table tr th {
    font-size: 35px;
    margin-right: 10%;
    font-style: bold;
}

table tr td {
    font-size: 35px;
    margin: 5px;
    padding-right: 10%;

}

table img {
    text-align: center;
    width: auto;
    height: 100px;
    align-items: center;
}
</style>
