<div class="card pattern--hashes">
    <h1>A new Adventure</h1>
    <iframe  src=" https://www.youtube.com/embed/3OnP-I0blgo"> </iframe>
</div>
<style>
    .card {
        border-radius: 16px;
        margin: 25px;
        box-shadow: var(--box-shadow);
    }

    .card  iframe {
        border-radius: 16px;
        margin-left: auto;
        margin-right: auto;
        scale: 95%;
        width: calc(1920px / 1.5);
        height: calc(1080px /1.5);
    }
    .card h1 {
        text-align: center;
        font-style: bold;
    }

</style>