---
import '../styles/effects/bouncy-text.css';
import '../styles/components/footer.css';

---

<footer class="--pat stripe-container">
	<div class="bouncy-text">
		<span style="--i:1">P</span>
		<span style="--i:2">o</span>
		<span style="--i:3">w</span>
		<span style="--i:4">e</span>
		<span style="--i:5">r</span>
		<span style="--i:6">e</span>
		<span style="--i:7">d</span>
		<span style="--i:8"> </span>
		<span style="--i:9">b</span>
		<span style="--i:10">y</span>
		<span style="--i:11"> </span>
		<span style="--i:12">T</span>
		<span style="--i:13">s</span>
		<span style="--i:14">u</span>
		<span style="--i:15">r</span>
		<span style="--i:16">u</span>
	</div>
	<div class="social-links">
		<a href="https://www.youtube.com/@SuperMarioEvolution"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://discord.com/invite/RG9QhUe"><i class="fa-brands fa-discord"></i></a>
        <a href="https://x.com/TeamSMEvolution"><i class="fa-brands fa-twitter"></i></a>
	</div>
	Copyright © 2023 Zenith Team © 2021 - 2023 Evolution Team
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
		font-size: 35px;
		margin-bottom: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--evolution-pink-rgb));
	}

	
</style>
