.navigation-module--Navigation__nav {
    display: block;
    padding-top: var(--base-space);
    padding-bottom: var(--base-space);
}

.navigation-module--Navigation__list {
    align-items: center;
    display: flex;
    justify-content: center;
}


.navigation-module--Navigation__list-item {
    margin-right: var(--base-space);
}

.navigation-module--Navigation__anchor {
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 1;
    min-width: 0;
    padding: calc(var(--base-space)* 2) calc(var(--base-space)* 3);
    overflow: hidden;
}

.navigation-module--Navigation__anchor:hover{
    border-color: var(--color-white);
}


.button-module--Button--frame {
    background-color: transparent;
    border-radius: var(--base-space);
    border: 2px solid var(--color-white);
    color: var(--color-white);
}
.button-module--Button--flat {
    box-shadow: none;
}

.button-module--Button {
    align-items: center;
    border: 2px solid transparent;
    border-radius: 2em;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .2);
    display: inline-flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: var(--font-bold);
    padding: calc(var(--base-space)* 2) calc(var(--base-space)* 3);
    min-width: 160px;
    position: relative;
    vertical-align: middle;
    transition: background-color .2s 0s, color .2s 0s, border-color .2s 0s;
    z-index: 1;
}

@media only screen and (min-width: 40em) and (max-width: 63.9375em) {
    .navigation-module--Navigation__list-item {
        margin-right: 6px;
    }
    .navigation-module--Navigation__anchor {
        font-size: 13px;
        padding: calc(var(--base-space)* 1.5) var(--base-space);
    }
}


