:root {
    --glow-rgb: 245 245 245;

    --primary-stripe-rgb: 230 230 230;
    --secondary-stripe-rgb: 240 240 240;
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  @keyframes pan {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  #app {
    overflow: hidden;
  }
  
  #star-container {
    background: radial-gradient(rgb(var(--evolution-pink-rgb)), rgb(var(--evolution-blue-rgb)));
    height: auto;  
    overflow: hidden;
  }
  
  #star-pattern {
    background-image: url("Star+Pattern+3.svg");
    background-size: 10%;  
    position: absolute;
    z-index: 1;
    height: 200%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    animation: pan 180s linear infinite;
    will-change: background-position;

  }
  
  #star-gradient-overlay {
    background: linear-gradient(180deg, rgb(var(--evolution-blue-rgb))  16%, rgb(var(--evolution-pink-rgb)) 76%);
    width: 100%;
    height: var(--hex-parent-height);
    z-index: 2;
    opacity: 1;
  }
  
  #stripe-container {

    z-index: 3;
    bottom: 0px;
    height: 28vh;
    width: 100%;
    background-color: rgb(var(--stripe-primary-rgb));
  }
  
  #stripe-pattern {
    height: 100%;
    width: 100%;
    background-size: 18px 18px;
    background-image: linear-gradient(
      -45deg,
      rgb(var(--primary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 25%,
      rgb(var(--secondary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 50%,
      rgb(var(--primary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 75%,
      rgb(var(--secondary-stripe-rgb)) 100%
    );
    box-shadow: inset 0rem 0.5rem 2rem 0.25rem rgb(0 0 0 / 40%);
    animation: pan 360s linear infinite;
  }
  
  
  